<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293474823119-1imor5icsogmse008nj3j2vb3vckfnld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293474823119-1imor5icsogmse008nj3j2vb3vckfnld</string>
	<key>API_KEY</key>
	<string>AIzaSyCTUNsZ3JAu68IbLkkU4jo0lUU5uOZbpGc</string>
	<key>GCM_SENDER_ID</key>
	<string>293474823119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Loyltwo3ks-Pvt-Ltd.JSW-Cement</string>
	<key>PROJECT_ID</key>
	<string>jsw-cement-39430</string>
	<key>STORAGE_BUCKET</key>
	<string>jsw-cement-39430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293474823119:ios:270a93dc4d7cfa6ad8c0ba</string>
</dict>
</plist>